@import "../../../style/utils/utils";

.description {
  background: $background-grey;
  padding: 40px 0;
  .container {
    @include container-narrow;
  }
  .row {
    display: flex;
    align-items: center;
    @include mobile{
      align-items: flex-start;
    }
    .icon {
      width: 80px;
      margin-right: 10px;

    }
    .text {
      @include text-regular($black-2);
      &>strong{
        font-weight: $font-weight-bold;
      }
    }
  }
  .table {
    margin-top: 24px;
    border-radius: 10px;
    background: $white;
    padding: 15px;
    box-sizing: border-box;
    .text {
      @include text-regular($black-2);
      margin-bottom: 15px;
    }
    .important {
      @include text-regular($blue-1);
    }
  }
}
