@import "../../../style/utils/utils";

.hero{
  .container{
    @include container-wide;
    height: calc(100vh - 100px - 73px);
    text-align: center;
    @include mobile{
      height: auto;
    }
  }
  .heading{
    @include heading-bold($black-2);
  }
  .before{
    @include heading-bold($black-2);
    font-weight: $font-weight-black;
    margin-top: 20px;
  }
  .content{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
  }
  .image{
    width: 40%;
    margin-right: 10px;
    @include mobile{
      width: 80%;
    }
  }
  .text{
    width: 30%;
    margin-left: 10px;
    text-align: left;
    @include mobile{
      width: 80%;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    @include text-regular($black-2);
    >strong{
      font-weight: $font-weight-bold;
    }
  }
}
