@import "../../style/utils/utils";

.container {
  @include container-narrow;
}
.heading {
  @include heading-bold($black-2);
}
.item {
  @include text-regular($black-2);
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  &:before{
    content: "\2022";
    color: $blue-1;
    font-weight: $font-weight-bold;
    display: inline-block;
    width: 10px;
    margin-left: -20px;
    margin-right: 10px;
  }
}
