@import "../../../style/utils/utils";

.results{
  display: flex;
  align-items: center;
  justify-content: center;
  background: $green-1;
  height: 112px;
  .value{
    @include heading-bold($white);
    font-size: 60px;
    line-height: 72px;
    @include mobile{
      font-size: 50px;
      line-height: 60px;
    }
  }
  .desc{
    margin-left: 10px;
    >span{
      @include heading-bold($white);
      display: block;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 28px;
      @include mobile{
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
