

@mixin mobile{
    @media (max-width: 600px) {
        @content
    }
}

@mixin tablet-portrait{
    @media (max-width: 900px) {
        @content
    }
}
@mixin tablet-landscape{
    @media (max-width: 1200px) {
        @content
    }
}
@mixin  laptop{
    @media (max-width: 1400px) {
      @content
    }
}

@mixin  laptop-wide{
  @media (max-width: 1700px) {
    @content
  }
}

@mixin height-sm {
  @media (max-height: 800px) {
    @content
  }
}
