@import 'vars';
@import 'media';

@mixin text-regular($color){
  font-weight: $font-weight-regular;
  font-size: 18px;
  line-height: 24px;
  color: $color;
}

@mixin text-bold($color){
  font-weight: $font-weight-bold;
  font-size: 18px;
  line-height: 24px;
  color: $color;
}

@mixin heading-regular($color){
  font-weight: $font-weight-regular;
  font-size: 24px;
  line-height: 32px;
  color: $color;

}

@mixin heading-bold($color){
  font-weight: $font-weight-bold;
  font-size: 24px;
  line-height: 32px;
  color: $color;
}

@mixin micro-regular($color){
  font-weight: $font-weight-regular;
  font-size: 16px;
  line-height: 18px;
  color: $color;
}
