@import "../../../style/utils/utils";

.promotions{
  .container{
    @include container-narrow;
    padding: 40px 0;
  }
  .heading{
    text-align: center;
    @include mobile{
      text-align: left;
    }
    @include heading-bold($font-weight-bold);
    >strong{
      color: $blue-1;
      @include mobile{
        display: inline-block;
        width: 100%;
      }
    }
  }
  .image{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
