@import "../../../style/utils/utils";

.progress{
  background: $background-grey;
  @include mobile{
    background: $white;
  }
  .container{
    @include container-wide;
    display: flex;
    align-items: center;
    height: 100px;
    @include mobile{
      width: 80%;
      height: 120px;
    }
  }
  .dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    background: $black-2;
    opacity: 0.4;
    &.active{
      background: $blue-1;
      opacity: 1;
    }
  }
  .line{
    flex:0.5;
    height: 4px;
    background: $black-2;
    opacity: 0.4;
    &.active{
      background: $blue-1;
      opacity: 1;
    }
  }
  .text{
    position: absolute;
    bottom: -20px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    @include micro-regular($black-2);
    opacity: 0.4;
    &.active{
      opacity: 1;
      color: $blue-1;
    }
    @include mobile{
      white-space: pre-wrap;
      bottom: -40px;
    }
  }
}
