@import "../../style/utils/utils";

.modal {
  position: fixed;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  width: 80%;
  height: 300px;
  background: #fff;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
}
.backdrop{
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0, 0.4);
}
