@import "../../../style/utils/utils";

.dietitian{
  .container{
    @include container-narrow;
    padding: 40px 0;
    @include mobile{
      width: 100%;
      padding: 0;
    }
  }
  .image{
    width: 100%;
    border-radius: 10px;
    @include mobile{
      border-radius: 0;
    }
  }
  .heading{
    @include heading-bold($black-2);
    margin-top: 20px;
    @include mobile{
      width: 96%;
      margin: auto;
      margin-top: 20px;
    }
  }
  .desc{
    @include text-regular($black-2);
    margin-top: 20px;
    @include mobile{
      width: 96%;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
