@import "../../../style/utils/utils";

.offer_card{
  background: $background-grey;
  .container{
    @include container-narrow;
    padding: 40px 0;
  }
  .heading{
    text-align: center;
    margin-bottom: 30px;
    @include heading-bold($black-2);
    >strong{
      color: $blue-1;
    }
  }
  .card{
    background: $white;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    position: relative;
    @include mobile{
      padding-top: 80px;
    }
  }
  .price{
    @include heading-bold($black-2);
    font-size: 54px;
    &:before{
      content:'$';
      font-size: 20px;
    }
  }
  .normal_price{
    @include text-regular($black-2);
    opacity: 0.8;
  }
  .one_time_payment{
    font-size: 14px;
    font-weight:$font-weight-bold;
    text-transform: uppercase;
    color: $green-1;
    position: relative;
    padding-bottom: 40px;
    margin-top: 10px;
    &:after{
      content:'';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $background-grey;
      left: 0;
      bottom: 20px;
    }
  }
  .one_time_opportunity{
    color:$blue-1;
    font-weight: $font-weight-bold;
    font-size: 20px;
  }
  .availability{
    @include text-regular($black-1);
    margin-top: 10px;
    opacity: 0.4;
  }
  .save{
    position: absolute;
    border-radius: 10px;
    top: 20px;
    right: 20px;
    background: $green-1;
    color: $white;
    line-height: 34px;
    padding: 0 15px;
  }
  .button{
    background: $blue-1;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    margin-top: 20px;
  }
  .fees{
    @include micro-regular($black-1);
    text-align: center;
    opacity: 0.4;
    margin-top: 20px;
  }
}
