@import "utils/text";
@import 'utils/vars';
@import 'utils/colors';
@import "utils/media";

body {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background: $white;
  font-size: 16px;
  &.stop-scroll {
    height: 100%;
    overflow: hidden;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px #fff;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
