@import "../../../style/utils/utils";

.timed_offer{
  background: $blue-1;
  .container{
    @include container-wide;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    @include mobile{
      height: 94px;
    }
  }
  .date{
    display: flex;
    align-items: center;
    color: $white;
    flex-wrap: wrap;
  }
  .valid{
    @include text-regular($white);
    opacity: 0.8;
    @include mobile{
      width: 100%;
    }
  }
  .hours,
  .minutes,
  .seconds{
    margin-left: 40px;
    font-weight: $font-weight-bold;
    @include mobile{
      margin-left: 10px;
      font-size: 24px;
    }
    >span{
      display: block;
      font-size: 12px;
    }
    >strong{
      font-size: 30px;
      display: block;
    }
  }
  .hours,
  .minutes{
    position: relative;
    &:after{
      content:':';
      position: absolute;
      right: -20px;
      bottom: 15px;
      font-size: 30px;
      @include mobile{
        right: -10px;
      }
    }
    &:before{
      position: absolute;
      bottom: -20px;
    }
  }
  .button{
    line-height: 48px;
    width: 200px;
    text-align: center;
    border-radius: 14px;
    font-weight: $font-weight-bold;
    user-select: none;
    cursor: pointer;
    @include mobile{
      width: 180px;
    }
  }
}
